<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Select Nutritionist!</h1>
          <p class="text-lead text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta
            dignissimos laboriosam obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur, atque beatae, cupiditate dolorem impedit in quasi quis repellat reprehenderit tempore voluptate. Dignissimos incidunt numquam odit perferendis repellendus voluptate voluptatum? Accusantium aut delectus excepturi exercitationem impedit ipsum iste
            itaque magnam perferendis, quas qui quia quo loremrepellendus voluptatibus.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="row ml-3 mr-3" style="margin-top: -15%" (click)="open()">
  <div *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11]" class="col-3 card bg-transparent text-white mb-5" >
    <img src="assets/img/theme/team-2-800x800.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <img class="card-title " style="margin-top: -10%" width="75" src="assets/img/brand/rating.png"/>
      <br>
      <br>
      <br>
      <br>
      <h5 class="text-center text-white" style="margin-top: 40%;">30DT/M &nbsp; &nbsp; &nbsp; &nbsp;Foulen Ben Foulen</h5>
    </div>
  </div>
</div>
<div class="text-center">
  <a  href="#/BeFitPay" class="btn btn-secondary mt-4">Finish</a>
</div>
