<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
     style="min-height: 600px; background-image: url(assets/img/theme/aaaaa.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-dark opacity-7"></span>

  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center text-center">
    <div class="row">
      <div class="col-xl-12">
        <div class="col" style="margin-left: 100%">
          <img class="img-center" src="assets/img/brand/logo.png" alt="" width="100">
          <span class="display-2 text-white" style="margin-right: 5%">BeFit.tn</span>
          <a href="http://localhost:4200/#/login" class="btn btn-info">SignIN/UP</a>
        </div>
        <br>
        <br>
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/brand/logo.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facere fuga impedit laborum natus nesciunt officiis, pariatur rerum tenetur ut. Consequuntur cupiditate deleniti fugit laboriosam odit perspiciatis quod repellat reprehenderit.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum doloribus est, iure nemo pariatur reprehenderit sunt voluptatum. Autem consectetur illum quidem ratione voluptatibus. Aut commodi corporis dolore magni, quia ut.
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">About US</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <iframe class="ml-4" width="560" height="315" src="https://www.youtube.com/embed/iIOoVd0aJ4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur corporis ea, libero molestiae obcaecati porro, qui, quo ratione reprehenderit repudiandae voluptates? Harum maxime numquam perferendis quia reprehenderit sit voluptatum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur incidunt nisi perferendis possimus praesentium! Aspernatur consequatur id ipsam ipsum minima obcaecati quisquam quos rerum ullam voluptatum. Iure, natus qui!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid aperiam cumque deserunt dolorem earum error, eum maxime mollitia, non nulla odit quae quo reprehenderit similique tempora voluptatem? Hic, neque?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda blanditiis cum deleniti dolorum, ex, in laborum magni minima natus pariatur perferendis quaerat quam, quos tempora voluptas voluptatibus. Dicta, molestias.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur ipsam quibusdam reprehenderit. Accusantium assumenda corporis dicta dolores eaque enim fugit harum iusto obcaecati odio quia, quidem tenetur totam vitae?</p>
        </div>
      </div>
    </div>
  </div>
</div>
